<?php
$pull_default_option = array(
  'path_to_listener' => 'http://#DOMAIN#{{ push_sub }}',
  'path_to_listener_secure' => 'https://#DOMAIN#{{ push_sub }}',
  'path_to_modern_listener' => 'http://#DOMAIN#{{ push_sub }}',
  'path_to_modern_listener_secure' => 'https://#DOMAIN#{{ push_sub }}',
  'path_to_mobile_listener' => 'http://#DOMAIN#:8893{{ push_sub }}',
  'path_to_mobile_listener_secure' => 'https://#DOMAIN#:8894{{ push_sub }}',
  'path_to_websocket' => 'ws://#DOMAIN#{{ push_subws }}',
  'path_to_websocket_secure' => 'wss://#DOMAIN#{{ push_subws }}',
  'path_to_publish' => 'http://{{ cluster_web_server }}:8895{{ push_pub }}',
  'nginx_version' => '2',
  'nginx_command_per_hit' => '100',
  'nginx' => 'Y',
  'nginx_headers' => 'N',
  'push' => 'Y',
  'websocket' => 'Y',
  'signature_key' => '{{ push_security_key }}',
  'guest' => 'N',
);

