# {{ ansible_managed }}
# Common settings for nginx-push-stream-module
{% set push_memory = ansible_memtotal_mb // 8 %}
{% if ansible_architecture == 'i386' %}
{% if push_memory > 2048 %}
{% set push_memory = 2048 %}
{% endif %}
{% endif %}
{% if push_memory < 64 %}
{% set push_memory = 64 %}
{% endif %}
#

{% if nginx_push_module == 'installed' %}
push_stream_shared_memory_size          {{ push_memory }}M;
push_stream_max_messages_stored_per_channel 1000;
push_stream_max_channel_id_length       32;
push_stream_max_number_of_channels      10000;
push_stream_message_ttl             86400
{% endif %}
