table.bx-edit-table td.bx-padding { padding-top: 6px !important; }

.crm-fld-icon {
	position: absolute;
	top: 0;
	right: -15px;
	width: 15px;
	height: 16px;
	cursor: pointer;
}

.crm-fld-block:hover .crm-fld-icon {
	background: url("images/crm/mini-sprite.png") no-repeat 0 -55px;
}

.crm-fld-block:hover .crm-fld-icon-lock {
	background: url("images/crm/mini-sprite.png") no-repeat 0 -154px;
}

.crm-fld-edit .crm-fld-icon { display: none; }

.crm-fld-block,
.crm-fld-block-list {
	position: relative;
	display: inline-block;
	padding-right: 5px;
	min-height: 22px;
	height: 100%;
	vertical-align: top;
}

.crm-fld {
	position: relative;
	display: inline-block;
	margin: 0;
}

.crm-fld-value {
	position: absolute;
	top: -2px;
	left: -3px;
	display: none;
	padding: 0 4px 0 0;
	width: 100%;
}

.crm-fld-edit .crm-fld-value { display: block; }

.crm-fld-text {
	display: inline-block;
	min-height: 14px;
}

.crm-fld-edit .crm-fld-text { visibility: hidden; }

a.crm-fld-disabled {
	cursor: default;
	pointer-events: none;
}

div.crm-fld-block-readonly { min-height: 24px; }

@-moz-document url-prefix() {
	.crm-fld-value { left: -5px; }
}

.crm-fld-edit .crm-fld .crm-fld-input .crm-fld-element-input {
	padding: 2px 3px;
	*padding: 3px 0 3px 2px;
}

.crm-fld input[type="text"],
.crm-fld-element-input {
	margin: 0;
	min-width: 60px;
	width: 100%;
	height: 15px;
	outline: none;
	border: 1px solid #b7b7b7;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.13) inset;
	font: 12px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

table.bx-crm-view-fieldset-content-table input.crm-fld-element-input { height: 18px; }

.crm-fld-element-input { padding: 2px 3px; }

.crm-fld-block-multi-input {
	position: relative;
	display: inline-block;
	height: 24px;
}

.crm-fld-block-multi-input .crm-fld-element-input {
	position: absolute;
	top: -4px;
	left: -5px;
	display: none;
}

.crm-fld-multi-input {
	position: relative;
	display: inline-block;
	vertical-align: top;
}

.crm-fld-edit .crm-fld-multi-input { margin-right: 15px; }

.crm-fld-edit .crm-fld-multi-input-text { min-width: 30px; }

.crm-fld-multi-input-text {
	display: inline-block;
	padding-right: 5px;
}

.crm-fld-element-select {
	display: inline;
	margin: 2px 0 0;
	font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-fld-edit .crm-fld-text-lhe { display: none; }

.crm-fld-lhe-wrap { margin: 10px; border: 1px solid #dedede; }

.crm-fld-element-textarea {
	position: relative;
	z-index: 5;
	overflow: auto;
	margin: 0 0 0 -5px;
	*margin: -1px 0 -1px -5px;
	padding: 1px 5px 2px 3px;
	*padding: 1px 5px 2px 3px;
	width: 400px;
	height: 150px;
	border: 1px solid #b7b7b7;
	background: #fff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.13) inset;
	color: #555;
	vertical-align: top;
	font: 12px/16px "Helvetica Noue", Helvetica, Arial, sans-sherif;
	resize: none;
	-khtml-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.13) inset;
}

.bx-crm-view-show-more span {
	border-bottom: 1px dashed #0069c4;
	color: #0069c4;
	text-decoration: none;
	cursor: pointer;
}

.crm-entity-info {
	padding: 10px;
	border: 0 solid;
	border-radius: 4px;
	background: #f1f1f1;
	color: #494949;
	font: 12px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
	-khtml-border-radius: 4px;
}

.crm-entity-info-header { position: relative; }

.crm-entity-info-header h2 {
	margin: 3px 0 11px;
	padding: 0 5px;
	font: bold 14px/14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-entity-info-section {
	padding: 0 5px;
	border-top: 1px solid #d8d8d8;
}

.crm-entity-info-section-header { margin: 13px 0; }

.crm-entity-info-section-header-text {
	*display: inline-block;
	border-bottom: 1px dashed #0069c4;
	color: #0069c4;
	cursor: pointer;
}

.crm-entity-info-section-header-cursor {
	display: inline-block;
	margin: 0 0 0 4px;
	width: 5px;
	height: 8px;
	background: url("/bitrix/js/tasks/css/images/task-sprite.3.png") no-repeat 0 -69px;
	vertical-align: middle;
}

.crm-entity-info-section-hidden .crm-entity-info-section-header-cursor { background-position: -7px -69px; }

.crm-entity-info-section-hidden .crm-entity-info-section-content { display: none; }

.crm-entity-info-lead-status { color: #000; }

.crm-entity-info-field {
	position: relative;
	display: inline-block;
	margin: 0 15px 0 0;
	vertical-align: middle;
}

.crm-entity-info-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.crm-entity-info-list li {
	margin: 6px 2px;
	padding: 0;
	list-style-type: none;
}

.crm-entity-info-list .crm-entity-info-field { vertical-align: top; }

.crm-entity-info-field-text {
	display: inline-block;
	min-height: 14px;
}

.crm-entity-info-list .crm-entity-info-field-text { color: #000; }

.crm-entity-info .crm-entity-info-field-text { display: inline-block; }

.crm-entity-info-field-lead-status,
.crm-entity-info-field-lead-source,
.crm-entity-info-field-deal-stage,
.crm-entity-info-field-contact-type,
.crm-entity-info-field-company-type,
.crm-entity-info-field-company-industry,
.crm-entity-info-field-company-employees,
.crm-entity-info-details-button {
	height: 15px;
	border-bottom: 1px dashed #0069c4;
	color: #0069c4;
	cursor: pointer;
}

.crm-entity-info-details-button {
	position: absolute;
	top: 0;
	right: 0;
}

.crm-entity-info-details-container {
	padding: 20px 12px 20px 12px;
	width: 380px;
}

.crm-entity-info-field-company-opened,
.crm-entity-info-field-contact-export,
.crm-entity-info-field-contact-opened,
.crm-entity-info-field-deal-opened,
.crm-entity-info-field-lead-opened { color: #919191; }

.crm-entity-info-field-person {
	padding: 9px;
	border: 0 solid;
	border-radius: 4px;
	background-color: #e6e7e7;
}

.crm-entity-info-field-person-header {
	position: relative;
	padding-bottom: 5px;
	border-bottom: 1px solid #d8d9d9;
	color: #bf2323;
}

.crm-entity-info-field-person-edit {
	position: absolute;
	top: 0;
	right: 0;
	border-bottom: 1px dashed #969696;
	color: #969696;
	line-height: 14px;
	cursor: pointer;
}

.crm-entity-info-field-person-title { display: inline-block; }

.crm-entity-info-field-person-content {
	position: relative;
	padding: 7px 0 0 40px;
}

.crm-entity-info-field-person-photo {
	position: absolute;
	top: 7px;
	left: 0;
	width: 32px;
	height: 32px;
	border: 1px solid #7f787d;
	background: url(/bitrix/js/tasks/css/images/avatar.png) no-repeat center center;
}

.crm-entity-info-field-person-fullname {
	min-height: 1.4em;
	color: #000;
}

.crm-entity-info-field-person-post {
	min-height: 1.4em;
	color: #737373;
}

.crm-fld-block .crm-entity-info-field-currency-id,
.crm-fld-block .crm-entity-info-field-probability-suffix {
	display: inline-block;
	color: #000;
}

.crm-fld-edit .crm-entity-info-field-currency-id,
.crm-fld-edit .crm-entity-info-field-probability-suffix { display: none; }

.crm-entity-info .crm-fld { margin-left: 3px; }

.crm-entity-info .crm-fld-text-lhe {
	overflow: auto;
	max-width: 238px;
	max-height: 320px;
}

@-moz-document url-prefix() {
	.crm-entity-info .crm-fld-value { left: -5px; }
}

.crm-entity-file-size {
	margin: 0 0 0 6px;
	color: #919191;
	vertical-align: bottom;
	font-size: 11px;
}

h1 sup.sup-header {
	position: relative;
	display: inline-block;
	margin: -20px 0 0 5px;
	padding: 1px 5px;
	border-radius: 2px;
	background: #d8f2ce;
	vertical-align: middle;
	font: bold 12px/16px "Helvetica Noue", Helvetica, Arial, sans-sherif;
}

#pagetitle { position: relative; }

h1.crm-fld-block {
	display: block;
	width: auto;
}

h1:hover .crm-fld-icon { background: url("images/crm/mini-sprite.png") no-repeat 0 -55px; }

h1 .crm-fld.crm-fld-input .crm-fld-text,
h1.crm-fld-edit .crm-fld.crm-fld-input .crm-fld-element-input { font: bold 21px "Helvetica Noue", Helvetica, Arial, sans-sherif; }

h1.crm-fld-block .crm-fld-icon {
	position: static;
	display: inline-block;
	margin: 2px 2px 2px 5px;
	vertical-align: middle;
}

h1.crm-fld-edit .crm-fld-icon { display: none; }

#pagetitle .crm-fld-value {
	top: -5px;
	left: -7px;
}

#pagetitle .crm-fld-element-input {
	padding: 5px 7px 5px 5px;
	height: 25px;
	font: bold 21px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-navigation {
	position: absolute;
	top: 0;
	right: 0;
}

.crm-navigation-prev,
.crm-navigation-next {
	display: inline-block;
	height: 20px;
	color: #4c4c4c;
	font-size: 12px;
	line-height: 18px;
}

.crm-navigation-prev:hover,
.crm-navigation-next:hover { text-decoration: underline !important; }

.crm-navigation-prev:link,
.crm-navigation-next:link,
.crm-navigation-prev:visited,
.crm-navigation-next:visited,
.crm-navigation-prev:active,
.crm-navigation-next:active {
	color: #4c4c4c;
	text-decoration: none;
}

.crm-navigation-prev {
	padding-left: 26px;
	background: url("images/crm/mini-sprite.png") no-repeat 0 -287px;
}

.crm-navigation-next {
	padding-right: 26px;
	background: url("images/crm/mini-sprite.png") no-repeat right -331px;
}

.bx-crm-view-fieldset { margin: 13px 0; }

.bx-crm-view-fieldset-title {
	position: relative;
	margin: 0;
	padding: 0 13px;
	height: 32px;
	border: 1px solid #d7d7d7;
	border-radius: 4px 4px 0 0;
	background: url("images/crm/mini-sprite.png") repeat-x 0 -200px #efefef;
	white-space: nowrap;
	font: bold 15px/32px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* for old templates */
table.bx-edit-table td.bx-heading .bx-crm-view-fieldset-title {
	position: relative;
	margin: 0;
	padding: 0 13px;
	height: 32px;
	border: none;
	border-radius: 4px 4px 0 0;
	background: none;
	white-space: nowrap;
	font: bold 15px/32px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bx-crm-view-fieldset-minimized .bx-crm-view-fieldset-title {
	border-width: 2px;
	border-color: #cecece;
	border-radius: 4px;
}

.bx-crm-view-fieldset-close-title {
	border-bottom: 1px dashed #0069c4;
	color: #0069c4;
	font: bold 15px/32px "Helvetica Neue", Helvetica, Arial, sans-serif;
	cursor: pointer;
}

ul.bx-crm-view-fieldset-title {
	list-style-type: none;
	text-align: left;
}

ul.bx-crm-view-fieldset-title li {
	display: inline-block;
	*display: inline;
	margin-right: 15px;
	height: 32px;
	color: #797979;
	list-style-type: none;
	vertical-align: top;
	cursor: pointer;
}

ul.bx-crm-view-fieldset-title li span {
	border-bottom: 1px dashed #797979;
	vertical-align: baseline;
}

ul.bx-crm-view-fieldset-title li.bx-crm-view-fieldset-title-selected span {
	border-bottom: 0;
	color: #000;
}

.bx-crm-view-fieldset-content {
	margin: 0;
	padding: 13px;
	border: 1px solid #d7d7d7;
	border-top: 0;
	border-radius: 0 0 4px 4px;
}

.bx-crm-view-fieldset-content-tiny {
	margin: 0;
	padding: 0;
	border: 0;
}

.bx-crm-view-fieldset-title-text {
	border-bottom: 1px dashed #0069c4;
	color: #0069c4;
	font-weight: normal;
	font-size: 14px;
	cursor: pointer;
}

.bx-crm-view-fieldset-title-minimized, .bx-crm-view-fieldset-title-expand {
	position: absolute;
	top: 9px;
	right: 18px;
	border-bottom: 1px dashed #787878;
	color: #787878;
	font-size: 12px;
	line-height: 14px;
	cursor: pointer;
}

div.bx-crm-view .bx-crm-view-fieldset-title a.bx-crm-view-fieldset-title-button {
	margin-left: 5px;;
	padding: 2px 11px 3px;
	border-radius: 15px;
	background: #fefefe;
	background: -webkit-linear-gradient(top, #fff, #f4f4f4);
	background: -moz-linear-gradient(top, #fff, #f4f4f4);
	background: -ms-linear-gradient(top, #fff, #f4f4f4);
	background: -o-linear-gradient(top, #fff, #f4f4f4);
	background: linear-gradient(top, #fff, #f4f4f4);
	box-shadow: 0 1px 0 #b1b1b1, 0 0 0 1px #ededed, 0 2px 0 #e0e0e0;
	color: #7b7b7b;
	vertical-align: top;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	font: bold 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

table.bx-crm-view-fieldset-content-table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}

table.bx-crm-view-fieldset-content-table td.bx-field-value { text-align: left; }

div.sidebar-block table.bx-crm-view-fieldset-content-table td:first-child { width: 50%; }

table.bx-crm-view-fieldset-content-table td.bx-left,
table.bx-crm-view-fieldset-content-table td.bx-right {
	margin: 0;
	padding: 0;
}

table.bx-crm-view-fieldset-content-table table.bx-grid-multiaction td {
	margin: 0;
	padding: 0;
	vertical-align: middle; text-align: left;
}

table.bx-crm-view-fieldset-content-table table.bx-grid-multiaction td.bx-content {
	padding: 4px;
	width: 100%;
}

table.bx-interface-grid td:first-child {
	width: 1%;
	text-align: left;
}

table.bizproc-table-main td:first-child {
	padding: 7px 5px;
	width: 30%;
	text-align: left;
}

table.bizproc-table-main td {
	padding: 7px 5px;
	width: auto;
	text-align: left;
}

table.bx-crm-view-fieldset-content-table .webform-small-button {
	float: right;
	margin: -2px 0 -3px;
	color: #d83e3e;
}

table.bx-crm-view-fieldset-content-table .webform-small-button-link {
	float: right;
	margin: 3px 0 0 5px;
	color: #d83e3e; cursor: pointer;
}

table.bx-crm-view-fieldset-content-table .lead-element-input { height: 18px !important; }

table.bx-crm-view-fieldset-content-table .lead-element-input { padding: 2px 3px; }

ul.crm-view-actions {
	overflow: hidden; margin: 0 0 17px; padding: 0;
	list-style-type: none;
	text-align: left !important;
}

ul.crm-view-actions li {
	display: inline-block; *display: inline;
	margin: 2px 0;
	padding: 2px 10px 3px 0;
	min-height: 16px;
	list-style-type: none;
	vertical-align: top;
	cursor: pointer;
}

ul.crm-view-actions li i {
	display: inline-block;
	width: 19px;
	height: 19px;
	background: url("/bitrix/js/tasks/css/images/task-sprite.3.png") no-repeat -16px -716px;
	vertical-align: middle;
}

ul.crm-view-actions li.crm-activity-command-add-task i { background: url("./images/crm/activity-sprite2.png") no-repeat -28px -272px; }

ul.crm-view-actions li.crm-activity-command-add-call i { background: url("./images/crm/activity-sprite2.png") no-repeat -28px -60px; }

ul.crm-view-actions li.crm-activity-command-add-meeting i { background: url("./images/crm/activity-sprite2.png") no-repeat -30px -23px; }

ul.crm-view-actions li.crm-activity-command-add-email i { background: url("./images/crm/activity-sprite2.png") no-repeat -28px -153px; }

ul.crm-view-actions li span {
	display: inline-block;
	margin: 0;
	border-bottom: 1px dashed #0069c4;
	color: #0069c4;
	vertical-align: middle;
	text-decoration: none;
	line-height: 16px;
	cursor: pointer;
}

div.crm-view-message {
	clear: both;
	margin: 10px 0;
	padding: 10px;
	border: 1px solid #d7d7d7;
	border-radius: 4px;
	background-color: #d2ddb7;
	color: #4a4a4a;
	font-size: 14px;
}

div.crm-warning-message {
	margin: 10px auto;
	padding: 15px 24px;
	background: #fff8c2;
	color: #7f7c61;
	vertical-align: middle;
	font-size: 12px;
	line-height: 16px;
}

table.crm-view-table {
	margin: 0 0 10px !important;
	width: 100% !important;
	border-spacing: 0 !important;
	*border-collapse: collapse !important;
	color: #000;
	text-align: left !important;
}

table.crm-view-table td { vertical-align: top !important; }

table.crm-view-table tr.crm-activity-row-even td,
table.crm-view-table tr.crm-product-row-even td { background: #f5f6f8 !important; }

table.crm-view-table tr.crm-activity-row-important td { background: none repeat scroll 0 0 #ffe1e1 !important; }

.crm-activity-show-all-wrapper {
	padding: 10px;
	text-align: left;
}

.crm-activity-command-show-all {
	display: inline-block;
	margin: 4px 0;
	border-bottom: 1px dashed #0069c4;
	color: #0069c4;
	text-decoration: none; cursor: pointer;
}

table.crm-view-table thead td {
	margin: 0 !important;
	padding: 4px 5px !important;
	border-bottom: 1px solid #fff !important;
	background: #f5f6f8 !important;
	font-weight: bold !important;
}

table.crm-view-table thead td:first-child {
	width: 7px !important;
	border: 0 solid !important;
	border-bottom: 1px solid #fff !important;
	border-radius: 4px 0 0 0 !important;
}

table.crm-view-table thead td:last-child {
	border: 0 solid !important;
	border-bottom: 1px solid #fff !important;
	border-radius: 0 4px 0 0 !important;
}

table.crm-view-table tbody td:first-child { width: 7px !important; }

table.crm-view-table tbody td {
	padding: 12px 5px !important;
	border-bottom: 1px solid #d7d7d7 !important;
}

table.crm-view-table .crm-view-table-column-edit { width: 15px !important; }

table.crm-view-table .crm-view-table-column-edit span {
	display: block !important;
	width: 15px !important;
	height: 15px !important;
	background: transparent !important;
	cursor: pointer !important;
}

table.crm-view-table span.crm-view-table-column-delete {
	display: block !important;
	margin: 4px 0 !important;
	width: 7px !important;
	height: 7px !important;
	background: url("/bitrix/js/main/core/images/controls-sprite.png") no-repeat -23px top !important;
	cursor: pointer !important;
}

table.crm-view-table tbody tr:hover span.crm-product-action-edit { background: url("images/crm/mini-sprite.png") no-repeat 0 -55px !important; }

table.crm-view-table tbody tr.crm-product-row-edit:hover span.crm-product-action-edit { background: none repeat scroll 0 0 transparent !important; }

table.crm-view-table tbody tr .crm-product-field {
	position: relative;
	display: inline-block;
	margin: 0 3px 0 0;
}

table.crm-view-table tbody tr .crm-product-field input[type="text"] {
	margin: 0;
	outline: none;
	border: 1px solid #b7b7b7;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.13) inset;
	vertical-align: -3px;
}

table.crm-view-table tbody tr td.crm-product-column-name .crm-product-field-input { width: 255px; }

table.crm-view-table tbody tr td.crm-product-column-qty .crm-product-field-input,
table.crm-view-table tbody tr td.crm-product-column-measure .crm-product-field-input { width: 55px; }

table.crm-view-table tbody tr td.crm-product-column-tax .crm-product-field-input { width: 110px; }

table.crm-view-table tbody tr td.crm-product-column-price .crm-product-field-input { width: 95px; }

table.crm-view-table tbody tr td.crm-product-column-discount .crm-product-field-input { width: 55px; }

/*View mode*/
/*table.crm-view-table tbody tr .crm-product-field-text{}*/

/*Edit mode*/
table.crm-view-table tbody tr.crm-product-row-edit .crm-product-field-text { display: none; }

table.crm-view-table tbody tr.crm-product-row-edit .crm-product-field-value { display: inline-block; }

table.crm-view-table tbody tr.crm-product-row-edit .crm-product-field-input .crm-product-field-text {
	display: inline-block;
	visibility: hidden;
}

table.crm-view-table tbody tr.crm-product-row-edit .crm-product-field-input .crm-product-field-value {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

table.crm-view-table tbody tr.crm-product-row-edit .crm-product-field.crm-product-field-input .crm-product-element-input {
	position: absolute;
	top: -4px;
	left: -5px \9;
	left: -4px;
	*left: -3px;
	display: block;
	padding: 3px 0 3px 3px;
	*padding: 3px 0 3px 2px;
	width: 100%;
}

table.crm-view-table tbody tr.crm-product-row-edit .crm-product-field.crm-product-field-input select.crm-product-element-select {
	position: absolute;
	top: -4px;
	left: -7px \9;
	left: -6px;
	*left: -3px;
	display: block;
	padding: 3px;
	width: 100%;
}

table.crm-view-table a:link,
table.crm-view-table a:visited,
table.crm-view-table a:active {
	color: #000;
	text-decoration: none;
}

table.crm-view-table a:hover {
	color: #000;
	text-decoration: underline;
}

.crm-view-table-total {
	position: relative;
	color: #000;
}

.crm-view-table-total-inner {
	padding: 0 14px;
	border-radius: 4px;
	background: #fbf4bf;
	font: 12px/26px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-view-table-total-value {
	padding: 0 0 0 3px;
	white-space: nowrap;
}

div.bx-crm-dialog-view-meeting-popup,
div.bx-crm-dialog-view-call-popup,
div.bx-crm-dialog-view-email-popup,
div.bx-crm-dialog-view-comm-list-popup {
	overflow: hidden;
	margin-top: 9px;
	padding: 0 15px 14px;
	font-size: 12px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.bx-crm-dialog-long-run-proc-popup {
	overflow: hidden;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.bx-crm-dialog-activity-call-event div.bx-crm-dialog-view-meeting-popup,
div.bx-crm-dialog-activity-call-event div.bx-crm-dialog-view-call-popup,
div.bx-crm-dialog-activity-email div.bx-crm-dialog-view-email-popup,
div.bx-crm-dialog-long-run-proc div.bx-crm-dialog-long-run-proc-popup { width: 520px; }

div.bx-crm-dialog-activity-call-event-wide div.bx-crm-dialog-view-meeting-popup,
div.bx-crm-dialog-activity-call-event-wide div.bx-crm-dialog-view-call-popup,
div.bx-crm-dialog-activity-email-wide div.bx-crm-dialog-view-email-popup { width: 830px; }

div.bx-crm-dialog-activity-comm-list div.bx-crm-dialog-view-comm-list-popup { width: 350px; }

table.bx-crm-dialog-view-meeting-table,
table.bx-crm-dialog-view-call-table,
table.bx-crm-dialog-view-email-table {
	margin-top: -1px;
	width: 100%;
	table-layout: fixed; /*for IE*/
}

td.bx-crm-dialog-view-cell-left {
	padding: 11px 0 12px 5px;
	width: 105px;
	border-top: 1px solid #e5e5e5;
	color: #808080;
}

td.bx-crm-dialog-view-cell-left-right {
	padding: 11px 0 12px 10px;
	max-width: 400px;
	height: 17px;
	border-top: 1px solid #e5e5e5;
	text-overflow: clip;
	white-space: pre-line;
	word-wrap: break-word;
}

div.bx-crm-dialog-view-activity-descr {
	padding-bottom: 19px;
	border-top: 1px solid #e5e5e5;
}

div.bx-crm-dialog-view-activity-descr-title {
	padding: 14px 0 0 4px;
	color: #808080;
}

div.bx-crm-dialog-view-activity-descr-text {
	overflow: auto;
	padding: 10px 0 0 5px;
	max-height: 300px;
}

div.bx-crm-dialog-activity-call-event-wide div.bx-crm-dialog-view-activity-descr-text,
div.bx-crm-dialog-activity-call-event-wide div.bx-crm-dialog-view-activity-descr-text,
div.bx-crm-dialog-activity-email-wide div.bx-crm-dialog-view-activity-descr-text { max-height: 450px; }

div.bx-crm-dialog-view-activity-files { padding: 5px 0 0 5px; }

div.bx-crm-dialog-view-activity-file { margin: 0 0 6px; }

div.bx-crm-dialog-view-activity-file-player { margin: 4px 0 2px; }

.bx-crm-dialog-view-activity-file-num,
.bx-crm-dialog-view-activity-file-text,
div.bx-crm-dialog-view-activity-file .finder-box-selected-item-icon {
	display: inline-block;
	float: none;
	vertical-align: middle;
}

.bx-crm-dialog-view-activity-file-num {
	padding-right: 5px;
	color: #808080;
}

.bx-crm-dialog-view-activity-file-text {
	overflow: hidden;
	padding-right: 4px;
	max-width: 300px;
	color: #408fd3;
	text-decoration: underline;
	text-overflow: ellipsis;
	cursor: pointer;
}

.bx-crm-dialog-view-activity-file-text:hover,
.bx-crm-dialog-view-activity-file-text:link,
.bx-crm-dialog-view-activity-file-text:visited,
.bx-crm-dialog-view-activity-file-text:active {
	color: #408fd3;
	text-decoration: underline;
}

/*Dialog*/
.bx-crm-dialog-tittle-wrap {
	position: relative;
	padding: 16px 0 0;
	text-align: left;
}

.bx-crm-dialog-tittle-text {
	margin-left: 9px;
	font-weight: bold;
	font-size: 15px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.bx-crm-dialog-add-meeting-popup,
div.bx-crm-dialog-add-call-popup,
div.bx-crm-dialog-add-email-popup,
div.bx-crm-dialog-quote-print-popup { width: auto; }

div.bx-crm-dialog-add-meeting-popup .webform-field-upload-list i,
div.bx-crm-dialog-add-call-popup .webform-field-upload-list i,
div.bx-crm-dialog-add-email-popup .webform-field-upload-list i { background: url("/bitrix/js/crm/images/upload-waiting-white.gif") no-repeat scroll 0 2px transparent; }

div.bx-crm-dialog-activity-error {
	overflow: hidden;
	margin-bottom: 12px;
	width: 610px;
	color: #f00;
	word-wrap: break-word;
}

div.bx-crm-dialog-activity-error p { margin: 2px 0; }

table.bx-crm-dialog-activity-table,
table.bx-crm-dialog-quote-print-table {
	width: 100%;
	color: #555;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

td.bx-crm-dialog-activity-table-left,
td.bx-crm-dialog-quote-print-table-left {
	padding: 2px 15px 10px 0;
	width: 65px;
	vertical-align: top;
}

td.bx-crm-dialog-activity-table-right,
td.bx-crm-dialog-quote-print-table-right { padding: 0 0 10px; }

td.bx-crm-dialog-activity-table-nopadding { padding-bottom: 0; }

span.bx-crm-dialog-title-text {
	display: inline-block;
	overflow: hidden;
	margin-left: 9px;
	max-width: 435px;
	vertical-align: middle;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: bold;
	font-size: 15px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

span.bx-crm-dialog-title-minimize-button, span.bx-crm-dialog-title-maximize-button {
	position: absolute;
	top: 3px;
	right: 20px;
	width: 15px;
	height: 15px;
	background: url("images/crm/mini-sprite.png") no-repeat;
	cursor: pointer;
}

span.bx-crm-dialog-title-minimize-button { background-position: 4px -404px; }

span.bx-crm-dialog-title-minimize-button:hover { background-position: 4px -417px; }

span.bx-crm-dialog-title-maximize-button { background-position: -10px -407px; }

span.bx-crm-dialog-title-maximize-button:hover { background-position: -10px -417px; }

div.bx-crm-dialog-remind-wrapper {
	padding: 10px 0 0;
	color: #000;
}

.bx-crm-dialog-label {
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

.bx-crm-dialog-checkbox {
	margin: 0 4px 0 6px;
	padding: 0;
	border: medium none;
	vertical-align: middle;
}

.bx-crm-dialog-input {
	display: inline-block;
	margin-right: 10px;
	padding: 0 3px;
	width: 155px;
	height: 22px;
	outline: none;
	border: 1px solid #bdbdbd;
	box-shadow: inset 0 1px 1px #e9e8e8;
	vertical-align: middle;
	line-height: 22px;
}

.bx-crm-dialog-activity-table .bx-crm-dialog-input {
	margin-right: 0;
	width: 520px;
}

div.bx-crm-dialog-activity-call-event-wide .bx-crm-dialog-activity-table .bx-crm-dialog-input,
div.bx-crm-dialog-activity-email-wide .bx-crm-dialog-activity-table .bx-crm-dialog-input { width: 830px; }

.bx-crm-dialog-input-date {
	margin: 0 6px !important;
	width: 90px !important;
	text-align: center;
}

.bx-crm-dialog-input-time {
	margin: 0 6px !important;
	width: 45px !important;
	text-align: center;
}

.bx-crm-dialog-input-time-wide {
	margin: 0 6px !important;
	width: 60px !important;
	text-align: center;
}

.bx-crm-dialog-activity-table img.calendar-icon { margin: 2px 1px 1px; }

.bx-crm-dialog-activity-table img.calendar-icon-hover { margin: 1px 0 0; }

.bx-crm-dialog-activity-table img.bx-clock-icon { margin: 2px 1px 1px 0; }

div.bx-crm-dialog-activity-call-event .bx-crm-dialog-input { width: 520px; }

div.bx-crm-dialog-activity-call-event .bx-crm-dialog-input-hint { color: #a9a9a9; }

div.bx-crm-dialog-activity-call-event-wide .bx-crm-dialog-input { width: 830px; }

.bx-crm-dialog-input-remind-time {
	margin: 0 6px !important;
	width: 27px !important;
	text-align: center;
}

.bx-crm-dialog-input-remind-type {
	border-bottom: 1px dashed #0069c4;
	color: #0069c4;
	vertical-align: middle; cursor: pointer;
}

.bx-crm-dialog-label,
.bx-crm-dialog-input,
.bx-crm-dialog-input-remind-type { vertical-align: inherit \9; /*IE8 HACK*/ }

.bx-crm-dialog-remind-wrapper-hidden {
	opacity: 0.4;
	filter: alpha(opacity=40);
}

.bx-crm-dialog-remind-wrapper-hidden .lead-rem-time-wrap {
	opacity: 0.4;
	filter: alpha(opacity=40);
}

div.bx-crm-dialog-comm-block {
	position: relative;
	padding: 3px 3px 0;
	width: 520px;
	border: 1px solid #bdbdbd;
	box-shadow: 0 1px 1px #e9e8e8 inset;
	color: #000;
}

div.bx-crm-dialog-popup-select-block {
	overflow-x: hidden;
	max-width: 520px;
}

div.bx-crm-dialog-activity-call-event-wide div.bx-crm-dialog-comm-block,
div.bx-crm-dialog-activity-email-wide div.bx-crm-dialog-comm-block { width: 830px; }

div.bx-crm-dialog-owner-block {
	position: relative;
	padding: 3px 3px 0;
	width: 520px;
	border: 0 none;
	color: #000;
}

div.bx-crm-dialog-activity-call-event-wide div.bx-crm-dialog-owner-block,
div.bx-crm-dialog-activity-email-wide div.bx-crm-dialog-owner-block { width: 830px; }

div.bx-crm-dialog-add-meeting-popup div.bx-crm-dialog-comm-block,
div.bx-crm-dialog-add-call-popup div.bx-crm-dialog-comm-block,
div.bx-crm-dialog-add-email-popup div.bx-crm-dialog-comm-block,
div.bx-crm-dialog-view-meeting-popup div.bx-crm-dialog-comm-block,
div.bx-crm-dialog-view-call-popup div.bx-crm-dialog-comm-block,
div.bx-crm-dialog-view-email-popup div.bx-crm-dialog-comm-block { min-height: 19px; }

div.bx-crm-dialog-view-meeting-popup div.bx-crm-dialog-comm-block,
div.bx-crm-dialog-view-call-popup div.bx-crm-dialog-comm-block,
div.bx-crm-dialog-view-email-popup div.bx-crm-dialog-comm-block {
	overflow: auto;
	max-height: 75px;
	width: 100%;
	border: none;
	box-shadow: none;
}

div.bx-crm-dialog-view-comm-list-popup div.bx-crm-dialog-comm-block {
	overflow: auto;
	max-height: 225px;
	width: 100%;
	border: none;
	box-shadow: none;
}

div.bx-crm-dialog-add-email-popup div.bx-crm-dialog-comm-block { width: 520px; }

div.bx-crm-dialog-activity-email-wide div.bx-crm-dialog-add-email-popup div.bx-crm-dialog-comm-block { width: 830px; }

div.bx-crm-dialog-comm-block input.bx-crm-dialog-comm-search {
	margin: 0;
	padding: 0;
	width: 250px;
	border: 0 none;
}

div.bx-crm-dialog-comm-block div.bx-crm-dialog-comm-wait-wrapper {
	padding: 0 0 0 26px;
	background-image: url("/bitrix/js/main/core/images/wait.gif");
	background-repeat: no-repeat;
	line-height: 20px;
}

/*div.bx-crm-dialog-comm-block div.bx-crm-dialog-comm-wait-text {}*/

span.bx-crm-dialog-comm-block-button {
	display: inline-block;
	margin: 9px 9px 0 3px;
	border-bottom: 1px dashed #0069c4;
	color: #0069c4;
	cursor: pointer;
}

.bx-crm-dialog-contact-add {
	border-bottom: 1px dashed #0069c4;
	color: #0069c4;
	cursor: pointer;
}

span.bx-crm-dialog-contact {
	position: relative;
	display: inline-block;
	margin: 0 10px 3px 0;
	padding-right: 15px;
	vertical-align: top;
}

span.bx-crm-dialog-contact span.crm-tel-btn {
	margin-top: -4px;
	margin-left: 2px;
}

span.bx-crm-dialog-owner-info {
	position: relative;
	display: inline-block;
	margin: 0 0 3px 0;
	padding-right: 15px;
	vertical-align: top;
}

div.bx-crm-dialog-view-meeting-popup div.bx-crm-dialog-owner-block,
div.bx-crm-dialog-view-call-popup div.bx-crm-dialog-owner-block,
div.bx-crm-dialog-view-email-popup div.bx-crm-dialog-owner-block { width: 100%; }

span.bx-crm-dialog-contact-invalid { color: #f00; }

span.finder-box-selected-item-icon { display: inline-block; float: none; vertical-align: middle; }

span.bx-crm-dialog-owner-info span.finder-box-selected-item-icon,
span.bx-crm-dialog-contact span.finder-box-selected-item-icon {
	position: absolute;
	top: 1px;
	right: 0;
}

div.bx-crm-dialog-status {
	margin-top: 9px;
	padding: 7px 0 0 12px;
	height: 24px;
	border-radius: 2px;
	background: #ebeff4;
}

span.bx-crm-dialog-activity-type-text,
span.bx-crm-dialog-status-text,
span.bx-crm-dialog-owner-change-text {
	margin-left: 6px;
	border-bottom: 1px dashed #0069c4;
	color: #0069c4;
	cursor: pointer;
}

span.bx-crm-dialog-owner-change-text {
	display: inline-block;
	margin: 0 0 3px;
}

span.bx-crm-dialog-status-read-only-text { border: 0 none; }

textarea.bx-crm-dialog-description-form {
	margin: 0;
	padding: 3px;
	width: 520px;
	height: 100px;
	border: 1px solid #bdbdbd;
	box-shadow: 0 1px 1px #e9e8e8 inset;
	color: #a9a9a9;
	font-size: 12px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	resize: none;
}

div.bx-crm-dialog-activity-call-event textarea.bx-crm-dialog-description-form {
	width: 520px;
}

div.bx-crm-dialog-activity-call-event-wide textarea.bx-crm-dialog-description-form {
	width: 830px;
}

textarea.bx-crm-dialog-description-form-active { color: #000; }

span.bx-crm-dialog-priority-text {
	display: inline-block;
	margin: -2px 0 0 18px;
	cursor: pointer;
}

span.bx-crm-dialog-priority-text {
	height: 16px;
	vertical-align: middle;
	line-height: 16px;
}

span.bx-crm-dialog-priority-text i {
	display: inline-block;
	margin-left: -18px;
	width: 18px;
	height: 16px;
	background: url("images/crm/mini-sprite.png") no-repeat;
	vertical-align: top;
}

span.bx-crm-dialog-priority-text-high {
	border-bottom: 1px dashed #f44848;
	color: #f44848;
}

span.bx-crm-dialog-priority-text-high i { background-position: -3px -669px; }

span.bx-crm-dialog-priority-text-medium {
	border-bottom: 1px dashed #69b42c;
	color: #69b42c;
}

span.bx-crm-dialog-priority-text-medium i { background-position: -3px -653px; }

span.bx-crm-dialog-priority-text-low {
	border-bottom: 1px dashed #c5c5c5;
	color: #5b5b5b;
}

span.bx-crm-dialog-priority-text-low i { background-position: -3px -636px; }

div.bx-crm-dialog-text-editor-wrap {
	margin-top: 20px;
	width: 608px;
	height: 150px;
	border: 1px solid #c9c9c9;
}

div.bx-crm-dialog-activity-call-event-wide div.bx-crm-dialog-text-editor-wrap,
div.bx-crm-dialog-activity-email-wide div.bx-crm-dialog-text-editor-wrap { width: 916px; }

span.bx-crm-dialog-priority-read-only-text {
	border: 0 none;
	cursor: default;
}

#menu-popup-crm-activity-priority .menu-popup-item-icon {
	width: 15px;
	background: url("images/crm/mini-sprite.png") no-repeat;
}

.menu-popup-items .bx-crm-priority-low-link .menu-popup-item-icon { background-position: 0 -636px !important; }

.menu-popup-items .bx-crm-priority-medium-link .menu-popup-item-icon { background-position: 0 -653px !important; }

.menu-popup-items .bx-crm-priority-high-link .menu-popup-item-icon { background-position: 0 -669px !important; }

.menu-popup-items .bx-crm-action-type-link .menu-popup-item-icon { display: none !important; }

.bx-crm-dialog-activity-phone-list-wrapper {
	padding: 0;
	width: 180px;
}

div.bx-crm-dialog-owner-button-wrapper,
div.bx-crm-dialog-owner-info-wrapper { }

div.bx-crm-dialog-activity-phone-list-header {
	margin-bottom: 11px;
	color: #000;
	font-size: 14px;
}

div.bx-crm-dialog-activity-phone-list {
	overflow: auto;
	padding: 0 0 17px;
	height: 226px;
	border: 1px solid #bdbdbd;
	box-shadow: 0 1px 1px #e9e8e8 inset;
}

.bx-crm-dialog-activity-phone-block {
	overflow: hidden;
	margin: -1px 10px 0;
	padding: 12px 0 16px;
	border-top: 1px solid #e2e2e2;
	font-size: 12px;
	line-height: 14px;
}

.bx-crm-dialog-activity-phone-block-name {
	padding-bottom: 7px;
	color: #000;
}

.bx-crm-dialog-activity-phone { overflow: hidden; }

.bx-crm-dialog-activity-phone-type {
	display: inline-block;
	float: left;
	overflow: hidden;
	padding-top: 6px;
	width: 30%;
	color: #767676;
}

.bx-crm-dialog-activity-phone-empty {
	display: inline-block;
	float: left;
	padding-top: 6px;
	width: 100%;
	color: #767676;
}

.bx-crm-dialog-activity-phone-link,
.bx-crm-dialog-activity-phone-link:visited,
.bx-crm-dialog-activity-phone-link:active,
.bx-crm-dialog-activity-phone-link:hover {
	float: right;
	padding-top: 5px;
	color: #0069c4;
	text-decoration: underline;
	font-size: 13px;
}

div.bx-crm-dialog-activity-fwplayer-wrapper {
	display: inline-block;
	width: 300px;
	height: 24px;
}

a.bx-crm-dialog-activity-fwplayer-download-link {
	padding: 0 0 0 4px;
	vertical-align: bottom;
	line-height: 24px;
}

.crm-connection-search-dlg-wrapper {
	margin: 0 8px 0 1px;
	width: 396px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-connection-search-dlg-title {
	position: relative;
	margin-bottom: -1px;
	padding-bottom: 10px;
	border-bottom: 1px solid #d5d5d5;
}

.crm-connection-search-dlg-button {
	display: inline-block;
	margin-right: 3px;
	font-weight: bold;
	font-size: 11px;
}

.crm-connection-search-dlg-button-l,
.crm-connection-search-dlg-button-r {
	display: inline-block;
	width: 4px;
	height: 21px;
	background: url("/bitrix/js/main/core/images/controls-sprite.png") no-repeat 100px;
	vertical-align: top;
	cursor: pointer;
}

.crm-connection-search-dlg-button-t {
	display: inline-block;
	padding: 4px 10px 0;
	height: 17px;
	background: url("/bitrix/js/main/core/images/controls-sprite.png") repeat-x 100px 100px;
	color: #7d7d7d;
	vertical-align: top;
	cursor: pointer;
}

.crm-connection-search-dlg-button-active .crm-connection-search-dlg-button-t { background-position: 0 -643px !important; color: #2b2718; }

.crm-connection-search-dlg-button-active .crm-connection-search-dlg-button-l { background-position: -8px -599px !important; }

.crm-connection-search-dlg-button-active .crm-connection-search-dlg-button-r { background-position: -12px -599px !important; }

.crm-connection-search-dlg-button:hover .crm-connection-search-dlg-button-l { background-position: 0 -599px; }

.crm-connection-search-dlg-button:hover .crm-connection-search-dlg-button-r { background-position: -4px -599px; }

.crm-connection-search-dlg-button:hover .crm-connection-search-dlg-button-t { background-position: 0 -621px; }

.crm-connection-search-dlg-content {
	max-height: 300px;
	overflow: auto;
}

.crm-connection-search-block {
	padding-bottom: 4px;
	min-height: 56px;
	border-top: 1px solid #e2e2e2;
}

.crm-connection-search-section {
	display: inline-block;
	padding: 14px 0 0 8px;
	width: 190px;
	vertical-align: top;
}

.crm-connection-search-title {
	display: block;
	padding: 0 0 4px 0;
	color: #000;
	font-size: 14px;
}

.crm-connection-search-description {
	display: block;
	color: #606060;
	font-size: 12px;
}

.crm-connection-search-item {
	position: relative;
	display: block;
	margin-bottom: 3px;
	padding: 2px 0 3px 4px;
	cursor: pointer;
}

.crm-connection-search-item:hover { background-color: #f0f0f0; }

.crm-connection-search-item i {
	position: absolute;
	top: 5px;
	right: 6px;
	width: 11px;
	height: 11px;
	background: url("/bitrix/js/main/core/images/controls-sprite.png") no-repeat 100px 100px;
}

.crm-connection-search-item:hover i {
	position: absolute;
	width: 11px;
	height: 11px;
	background-position: -19px -474px;
}

div.bx-crm-dialog-activity-call-event div.bx-crm-dialog-activity-webdav-container { width: 526px; }

div.bx-crm-dialog-activity-call-event-wide div.bx-crm-dialog-activity-webdav-container { width: 836px; }

div.bx-crm-dialog-activity-email div.bx-crm-dialog-activity-webdav-container { width: 608px; }

div.bx-crm-dialog-activity-email-wide div.bx-crm-dialog-activity-webdav-container { width: 916px; }

div.bx-crm-dialog-activity-webdav-container div.wduf-selectdialog {
	padding: 0;
	border: 0 none;
	background: none repeat scroll 0 0 transparent;
	box-shadow: none;
}

div.bx-crm-dialog-activity-webdav-container .wduf-selectdialog .wduf-label {
	top: 0;
	left: 0;
	padding: 0;
	background: none repeat scroll 0 0 #fff;
}

div.bx-crm-dialog-activity-webdav-container div.wduf-selectdialog .wduf-extended .wduf-selector {
	position: relative;
	margin: 14px 0 0;
	padding: 14px 3px 28px 88px;
	color: #555;
	font-weight: normal;
	font-size: 12px;
	line-height: 22px;
}

div.bx-crm-dialog-activity-webdav-container div.wduf-selectdialog .wduf-extended .wduf-uploader .wduf-but-text { text-decoration: underline; }

div.bx-crm-dialog-activity-webdav-container div.wduf-selectdialog .wduf-extended .wduf-selector:hover {
	padding: 11px 0 25px 85px;
	border: 3px dashed #d4dde1;
}

div.bx-crm-dialog-activity-webdav-container div.wduf-selectdialog .wduf-placeholder { margin-left: 70px; }

div.bx-crm-dialog-activity-webdav-container div.wduf-selectdialog .wduf-placeholder .files-name { }

div.bx-crm-dialog-activity-webdav-container div.wduf-selectdialog .wduf-placeholder .files-storage-block { height: 18px; }

div.bx-crm-dialog-activity-webdav-container div.wduf-selectdialog .wduf-placeholder .files-name { width: 50%; }

div.bx-crm-dialog-activity-webdav-container div.wduf-selectdialog .wduf-placeholder .files-storage { width: 30%; }

div.bx-crm-dialog-activity-webdav-container .wduf-extended .wduf-selector .wduf-load-img {
	position: absolute;
	top: 14px;
	left: 6px;
	width: 59px;
	height: 53px;
	background: url("images/crm/webdav-arrow.png") no-repeat scroll 0 0 transparent;
}

div.bx-crm-dialog-activity-webdav-container .wduf-extended .wduf-selector:hover .wduf-load-img {
	position: absolute;
	top: 11px;
	left: 3px;
	width: 59px;
	height: 53px;
	background: url("images/crm/webdav-arrow-h.png") no-repeat scroll 0 0 transparent;
}

div.bx-crm-dialog-activity-webdav-container .wduf-selectdialog .wduf-label2 {
	margin: 10px 0 0;
	padding: 0;
	font-weight: normal;
	font-size: 12px;
}

div.bx-crm-dialog-activity-webdav-container .wduf-placeholder .files-list td {
	margin: 0;
	padding: 10px 0 3px;
}

div.bx-crm-dialog-activity-webdav-container .wduf-selectdialog .wduf-simple .wduf-selector { margin: 10px 0 0; }

div.bx-crm-dialog-activity-webdav-container .wduf-selectdialog .wduf-simple .wduf-but-text {
	display: inline-block;
	border-bottom: 1px dashed #0069c4;
	color: #0069c4;
	cursor: pointer;
}

div.sidebar-block div.crm-client-summary-wrapper { margin: 12px 0; }

div.crm-client-summary-wrapper .crm-client-info-wrapper {
	margin: 0;
	padding: 0;
}

div.crm-client-summary-wrapper .crm-client-photo-wrapper {
	display: block;
	overflow: hidden;
	margin-right: 10px;
	min-width: 50px;
	min-height: 50px;
	max-width: 50px;
	max-height: 50px;
	text-align: left;
}

.crm-avatar.crm-avatar-user {
	width: 50px;
	height: 50px;
	background: center no-repeat url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%2250px%22%20height%3D%2250px%22%20viewBox%3D%220%200%2050%2050%22%20version%3D%221.1%22%3E%0A%20%20%20%20%3Cg%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Crect%20fill%3D%22%2380868E%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2250%22%20height%3D%2250%22/%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M38.930551%2C41.4357816%20C38.930551%2C39.5055816%2036.7940204%2C31.3401816%2036.7940204%2C31.3401816%20C36.7940204%2C30.1467816%2035.2552449%2C28.7835816%2032.2250408%2C27.9891816%20C31.1984184%2C27.698884%2030.2224907%2C27.2487202%2029.3321429%2C26.6547816%20C29.1374286%2C26.5419816%2029.1670204%2C25.4997816%2029.1670204%2C25.4997816%20L28.1910816%2C25.3491816%20C28.1910816%2C25.2645816%2028.1076327%2C24.0147816%2028.1076327%2C24.0147816%20C29.2753265%2C23.6169816%2029.1551837%2C21.2703816%2029.1551837%2C21.2703816%20C29.8967551%2C21.6873816%2030.3796939%2C19.8303816%2030.3796939%2C19.8303816%20C31.2567959%2C17.2503816%2029.9429184%2C17.4063816%2029.9429184%2C17.4063816%20C30.1727761%2C15.8313541%2030.1727761%2C14.230609%2029.9429184%2C12.6555816%20C29.3587755%2C7.43078157%2020.5640816%2C8.84918157%2021.606898%2C10.5555816%20C19.036551%2C10.0755816%2019.6230612%2C16.0047816%2019.6230612%2C16.0047816%20L20.1805714%2C17.5401816%20C19.0856735%2C18.2601816%2019.8467755%2C19.1307816%2019.8846531%2C20.1327816%20C19.9385102%2C21.6123816%2020.8315918%2C21.3057816%2020.8315918%2C21.3057816%20C20.8866327%2C23.7477816%2022.074449%2C24.0657816%2022.074449%2C24.0657816%20C22.2975714%2C25.5993816%2022.1584898%2C25.3383816%2022.1584898%2C25.3383816%20L21.1014694%2C25.4679816%20C21.1157784%2C25.8167386%2021.087752%2C26.1659565%2021.0180204%2C26.5077816%20C19.7751633%2C27.0693816%2019.5076531%2C27.3987816%2018.2724898%2C27.9477816%20C15.8862041%2C29.0079816%2013.2927755%2C30.3867816%2012.8317347%2C32.2431816%20C12.3706939%2C34.0995816%2011%2C41.4357816%2011%2C41.4357816%20L38.9293673%2C41.4357816%20L38.9293673%2C41.4357816%20L38.9293673%2C41.4357816%20L38.930551%2C41.4357816%20Z%22%20fill%3D%22%23FFF%22/%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E);
	background-size: 50px;
}

table.main-grid-table div.crm-nearest-activity-wrapper,
table.bx-interface-grid div.crm-nearest-activity-wrapper {
	position: relative;
	display: inline-block;
	padding-right: 20px;
}

table.bx-interface-grid div.crm-nearest-activity-time {
	color: #2067b0;
	white-space: nowrap;
}

table.bx-interface-grid div.crm-nearest-activity-time a {
	border-bottom: 1px dashed #2067b0;
	color: #2067b0;
	text-decoration: none;
	white-space: nowrap;
}

table.bx-interface-grid div.crm-nearest-activity-time a:hover {
	color: #2067b0;
	text-decoration: none;
	white-space: nowrap;
}

table.bx-interface-grid div.crm-nearest-activity-time-expiried a,
table.bx-interface-grid div.crm-nearest-activity-time-expiried a:hover {
	border-color: #e32727;
	color: #e32727;
	text-decoration: none;
	white-space: nowrap;
}

table.main-grid-table div.crm-nearest-activity-subject,
table.bx-interface-grid div.crm-nearest-activity-subject {
	display: block;
	overflow: hidden;
	padding-top: 3px;
	min-width: 80px;
	max-width: 140px;
	color: #000;
	text-overflow: ellipsis;
	font-size: 12px;
}

table.main-grid-table div.crm-nearest-activity-plus,
table.bx-interface-grid div.crm-nearest-activity-plus {
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -12px;
	width: 20px;
	height: 20px;
	background: url("images/crm/activity-sprite2.png") no-repeat -32px -376px;
	cursor: pointer;
}

table.main-grid-table div.crm-nearest-activity-plus:hover,
table.bx-interface-grid div.crm-nearest-activity-plus:hover { background-position: -11px -376px; }

table.main-grid-table div.crm-nearest-activity-plus:active,
table.bx-interface-grid div.crm-nearest-activity-plus:active { background-position: -52px -376px; }

.bx-no-touch table.main-grid-table tr div.crm-nearest-activity-plus,
.bx-no-touch table.bx-interface-grid tr div.crm-nearest-activity-plus { display: none; }

.bx-no-touch table.main-grid-table tr:hover div.crm-nearest-activity-plus,
.bx-no-touch table.bx-interface-grid tr:hover div.crm-nearest-activity-plus { display: block; }

table.bx-interface-grid tr td.crm-current-activity { background-color: #fbf6e5 !important; }

div.crm-client-summary-wrapper .crm-client-description-wrapper,
div.crm-info-wrapper .crm-info-description-wrapper {
	color: #484848;
	font-size: 11px;
}

a.crm-info-wrapper {
	display: block;
	border: 1px solid transparent;
	border-radius: 4px;
	transition: initial;
}

tr.bx-over a.crm-info-wrapper { border-color: #f5f5f5; }

tr.bx-over a.crm-info-wrapper:hover { border-color: #bbd7f2; }

a.crm-info-wrapper > .crm-info-description-wrapper {
	color: #484848;
	font-size: 11px;
}

.crm-info-legend-wrapper {
	color: #828b95;
	font-size: 11px;
}

table.main-grid-table a.crm-activity-add,
table.bx-interface-grid a.crm-activity-add {
	display: inline-block;
	visibility: hidden;
	border: 0 solid !important;
	border-bottom: 1px dashed #2067b0 !important;
	color: #2067b0;
	text-decoration: none;
	white-space: nowrap;
	font-size: 12px;
	cursor: pointer;
}

table.main-grid-table a.crm-activity-add:hover,
table.bx-interface-grid a.crm-activity-add:hover { text-decoration: none; }

table.main-grid-table tr:hover td a.crm-activity-add,
table.bx-interface-grid tr:hover td a.crm-activity-add { visibility: visible; }

table.main-grid-table span.crm-activity-add-hint,
table.bx-interface-grid span.crm-activity-add-hint {
	display: block;
	color: #8d8d8d;
	white-space: nowrap;
	font-size: 12px;
}

table.main-grid-table tr:hover td span.crm-activity-add-hint,
table.bx-interface-grid tr:hover td span.crm-activity-add-hint { color: #484848; }

table.bx-crm-grid-multi-field-viewer td { padding: 4px; }

table.bx-crm-grid-multi-field-viewer span.crm-multi-field-value-type,
div.bx-crm-multi-field-wrapper span.crm-multi-field-value-type {
	color: #484848;
	font-size: 10px;
}

table.bx-crm-grid-multi-field-viewer span.crm-multi-field-value-type { padding-left: 5px; }

table.bx-crm-grid-multi-field-viewer-tel-sip td { vertical-align: middle; }

table.bx-crm-grid-multi-field-viewer-tel-sip span.crm-multi-field-value-type {
	display: inline-block;
	padding-left: 0;
	height: 19px;
	line-height: 17px;
}

div.crm-client-contacts-block span.crm-multi-field-popup-button,
div.bx-crm-multi-field-wrapper span.crm-multi-field-popup-button {
	display: inline-block;
	border-bottom: 1px dashed #0069c4;
	color: #0069c4;
	font-size: 11px;
	cursor: pointer;
}

div.crm-multi-field-value-wrapper a { white-space: nowrap; }

div.crm-activity-info {
	position: relative;
	overflow: hidden;
	padding: 0 24px 0 0;
	max-height: 32px;
	white-space: pre-line;
}

div.crm-activity-important {
	position: absolute;
	top: 0;
	right: 0;
	width: 19px;
	height: 19px;
	background: url("./images/crm/crm-activity-popup-sprite.svg") no-repeat 0 -613px;
	background-size: 100px auto;
}

a.crm-activity-subject {
	display: inline-block;
	padding: 0 0 0 28px;
	min-height: 19px;
	white-space: pre-line;
	line-height: 16px;
}

a.crm-activity-subject:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	background-image: url(./images/crm/crm-activity-icons.svg?9);
	background-size: 20px auto;
	background-repeat: no-repeat;
	content: "";
}

div.crm-activity-meeting a.crm-activity-subject:before { background-position: 0 -92px; }

div.crm-activity-call-outgoing a.crm-activity-subject:before { background-position: 0 1px; }

div.crm-activity-call-incoming a.crm-activity-subject:before { background-position: 0 -46px; }

div.crm-activity-email-outgoing a.crm-activity-subject:before { background-position: 0 -187px; }

div.crm-activity-email-incoming a.crm-activity-subject:before { background-position: 0 -233px; }

/* Task */
div.crm-activity-task a.crm-activity-subject:before { background-position: 0 -143px; }

/* Chat */
div.crm-activity-imopenlines_session a.crm-activity-subject:before { background-position: 0 -281px; }

/* Chat outgoing */
div.crm-activity-imopenlines_session-outgoing a.crm-activity-subject:before { background-position: 0 -502px; }

/* Chat incoming */
div.crm-activity-imopenlines_session-incoming a.crm-activity-subject:before { background-position: 0 -461px; }

/* Webform */
div.crm-activity-crm_webform a.crm-activity-subject:before { background-position: 0 -327px; }

/* Live feed */
div.crm-activity-crm_lf_message a.crm-activity-subject:before { background-position: 0 -418px; }

/* 1C */
div.crm-activity-crm_external_channel a.crm-activity-subject:before { background-position: 0 -373px; }

/* CMS */
div.crm-activity-crm_external_channel_cms a.crm-activity-subject:before { background-position: 0 -667px; }

/* Visit Tracker */
div.crm-activity-visit_tracker a.crm-activity-subject:before { background-position: 0 -540px; }

/* DEAL REQUEST */
div.crm-activity-crm_request a.crm-activity-subject:before { background-position: 0 -578px; }

/* CALL LIST */
div.crm-activity-call_list a.crm-activity-subject:before { background-position: 5px -637px; }

/* SMS */
div.crm-activity-crm_sms a.crm-activity-subject:before { background-position: 0 -693px; }

/* NOTIFICATION */
div.crm-activity-crm_notification a.crm-activity-subject:before { background-position: 0 -693px; }

/* REST_APP */
div.crm-activity-rest_app a.crm-activity-subject:before { background-position: 0 -721px; }

/* CRM_PHONE_TRACKER */
div.crm-activity-crm_phone_tracker-incoming a.crm-activity-subject:before { background-position: 0 -46px; }

a.crm-activity-completed,
a.crm-activity-not-completed {
	background: url("./images/crm/activity-sprite2.png") no-repeat -28px -307px;
	transition: opacity 200ms ease
}

a.crm-activity-completed {
	display: inline-block;
	width: 19px;
	height: 19px;
	opacity: 1;
	cursor: default;
}

table.bx-interface-grid tr a.crm-activity-not-completed,
table.main-grid-table tr a.crm-activity-not-completed {
	display: inline-block;
	width: 19px;
	height: 19px;
	opacity: 0;
}

table.bx-interface-grid tr:hover a.crm-activity-not-completed,
table.main-grid-table tr:hover a.crm-activity-not-completed { opacity: .7; }

table.bx-interface-grid tr a.crm-activity-not-completed:hover,
table.main-grid-table tr a.crm-activity-not-completed:hover { opacity: 1; }

span.crm-activity-date-time { font-size: 90%; }

span.crm-activity-time { white-space: nowrap; }

.bx-crm-dialog-view-menu-wrapper {
	position: relative;
	bottom: -4px;
	display: inline;
	padding-left: 20px;
	vertical-align: top;
	line-height: 0;
}

.bx-crm-dialog-view-menu-wrapper li { border-right: 1px solid #dbdbdb }

.bx-crm-dialog-view-menu-wrapper li:first-child { border-left: 1px solid #dbdbdb }

.bx-crm-dialog-view-menu-wrapper li {
	position: relative;
	display: inline-block;
	font-size: 11px;
	line-height: normal;
}

.bx-crm-dialog-view-menu-mess {
	display: inline-block;
	width: 37px;
	height: 12px;
	background: url(images/crm/popuptitileui.png) no-repeat 12px center;
	cursor: pointer
}

.bx-crm-dialog-view-menu-more span {
	display: inline-block;
	width: 42px;
	height: 12px;
	background: url(images/crm/popuptitileui.png) no-repeat -29px center;
	cursor: pointer;
}

.bx-crm-dialog-view-menu-more ul {
	display: none;
	padding: 10px;
	border: 1px solid #d9d9d9;
	border-radius: 3px;
	background: #fff
}

.bx-crm-dialog-view-menu-more ul.display {
	position: absolute;
	top: 20px;
	left: -20px;
	z-index: 99999;
	display: block;
	box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, .1)
}

.bx-crm-dialog-view-menu-arrow {
	position: absolute;
	top: -15px;
	left: 17px;
	z-index: 9999999;
	display: block;
	width: 10px;
	height: 10px;
	border-top: 1px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;
	background: #fff;
	-webkit-transform: scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-moz-transform: scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-ms-transform: scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-o-transform: scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	transform: scale(1) rotate(45deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg)
}

.bx-crm-dialog-view-menu-more ul li { border: none; }

.bx-crm-dialog-view-menu-task,
.bx-crm-dialog-view-menu-call,
.bx-crm-dialog-view-menu-meeting {
	display: block;
	padding: 5px 25px;
	min-width: 100px;
	color: #000;
	text-decoration: none
}

.bx-crm-dialog-view-menu-task { background: url(images/crm/crm-activity-popup-sprite.svg) no-repeat -85px -176px }

.bx-crm-dialog-view-menu-call { background: url(images/crm/crm-activity-popup-sprite.svg) no-repeat -85px 3px }

.bx-crm-dialog-view-menu-meeting { background: url(images/crm/crm-activity-popup-sprite.svg) no-repeat -85px -114px }

.bx-crm-dialog-view-menu-more ul li a { font-size: 13px !important }

.bx-crm-text-cut-on { display: none; }

.bx-crm-text-cut-off {
	margin: 0;
	padding: 0;
}

/*CRM-SELECTOR -->*/
div.crm-selector-container {
	display: inline-block;
	text-align: right;
	white-space: nowrap;
}

span.crm-selector-title {
	display: inline-block;
	margin: 0;
	padding: 6px 6px 0 0;
	vertical-align: top;
}

div.crm-selector-wrapper {
	display: inline-block;
	padding: 1px;
	outline: 0;
	border: 0;
	vertical-align: top;
	white-space: nowrap;
	cursor: pointer;
}

div.crm-selector-wrapper div.crm-selector-inner-wrapper {
	display: inline-block;
	padding: 5px 0 5px 8px;
	border: 1px solid #d9d9d9;
	background-color: #fff;
	vertical-align: top;
}

span.crm-selector-view {
	padding: 0;
	width: 238px;
	outline: none;
	border: 0;
	background-color: #fff;
	color: #000;
	vertical-align: top;
}

a.crm-selector-arrow {
	display: inline-block;
	width: 25px;
	outline: none;
	border: 0;
	background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -15px -14px;
	vertical-align: top;
	text-decoration: none !important;
}

div.crm-deal-funnel-type-wrapper { overflow: hidden; }

div.crm-view-actions-wrapper div.crm-selector-container,
div.crm-deal-funnel-type-wrapper div.crm-selector-container { float: right; }

div.bx-crm-dialog-popup-select-block div.crm-selector-wrapper { padding: 0; }

div.bx-crm-dialog-popup-select-block div.crm-selector-wrapper div.crm-selector-inner-wrapper { padding: 4px 0 4px 3px; }

/*<-- CRM-SELECTOR*/

/*<-- CRM-DEAL-FUNNEL*/
div.crm-deal-funnel-title {
	margin: 0 0 9px;
	font-size: 100%;
}

div.crm-deal-funnel-wrapper { margin: 0 0 6px; }

/*<-- CRM-DEAL-FUNNEL*/

/*<-- CRM-LIVE-FEED*/
div.bx-crm-view .feed-cancel-com,
div.bx-crm-view .feed-cancel-com:link,
div.bx-crm-view .feed-cancel-com:visited,
div.bx-crm-view .feed-cancel-com:active {
	display: inline-block;
	margin-top: 2px;
	color: #5c6470;
	vertical-align: middle;
	text-decoration: none;
	font-size: 12px;
}

div.bx-crm-view div.feed-add-post-block .feed-cancel-com { margin-top: 25px; }

/*<-- CRM-LIVE-FEED*/

