# {{ ansible_managed }}
# all additional site in apache proccess by this server
{%- set is_httpd24 = 0 %}
{%- if ansible_distribution == 'CentOS' and ansible_distribution_major_version == '7' %}
{%- set is_httpd24 = 1 %}
{% endif %}

Listen 127.0.0.1:8887
{% if is_httpd24 == 0 -%}
NameVirtualHost 127.0.0.1:8887
{% endif %}
