.telephony-report-missed-reaction-modal {
	display: inline-block;
	top: 350px;
	padding: 15px 16px 0 13px;
	min-width: 157px;
	border-left: 3px solid transparent;
	background: #fff;
	box-shadow: 0 6px 21px 0 rgba(83,92,105,.15);
	box-sizing: border-box;
}
.telephony-report-missed-reaction-modal-title {
	display: block;
	margin: 0 0 12px 0;
	padding: 0 0 12px 0;
	border-bottom: 1px solid rgba(130,139,149,.19);
	font: 13px "OpenSans-SemiBold", "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #333;
	max-width: 250px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.telephony-report-missed-reaction-modal-subtitle-primary {
	display: block;
	margin: 0 0 2px 0;
	font: 11px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #333;
}
.telephony-report-missed-reaction-modal-subtitle-secondary {
	display: block;
	margin: 0 0 2px 0;
	font: 11px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #A8ADB4;
}
.telephony-report-missed-reaction-modal-main .telephony-report-chart-card-subtitle {
	font: 11px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.telephony-report-missed-reaction-modal-main {}
.telephony-report-missed-reaction-modal-content {
	display: flex;
	padding: 0 0 12px 0;
	align-items: baseline;
	justify-content: space-between;
}
.telephony-report-missed-reaction-modal-value {
	font: 20px "OpenSans-Regular", "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #333;
}

.telephony-report-missed-reaction-modal-percent-value {
	font: 15px "OpenSans-Regular", "Helvetica Neue", Arial, Helvetica, sans-serif;
	margin-left: 20px;
}

.telephony-report-missed-reaction-modal-percent-value.red {
	color: #FF5752;
}

.telephony-report-missed-reaction-modal-percent-value.green {
	color: green;
}